<div class="row">
  <h1>All our Flats</h1>
</div>
<!-- Button trigger modal -->
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p>All <%= Flat.count %> flats</p>
    </div>
  </div>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4">
        <%= render 'flat_card', flat: flat %>
      </div>
    <% end %>
  </div>
</div>
