<form action="" class="flat-form">
  <div class="input-group">
    <span style="mt-2">From: </span>
    <input type="text" class="form-control mx-2" placeholder="22/27/2">
  </div>
  <div class="input-group mt-2">
    <p>To </p>
    <input type="text" class="form-control mx-2" placeholder="22/27/2">
  </div>
  <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
</form>
