<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "Simple Airbnb", flats_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <form class="d-flex my-2 my-lg-0">
            <input type="search" class="form-control me-2" name="query" placeholder="Search" value="<%= params[:query] %>">
            <button class="btn btn-outline-success my-2 mx-2 my-sm-0" type="submit">Search</button>
          </form>
        </li>
        <li class="nav-item">
          <%= link_to 'New Flat', new_flat_path, class: "btn btn-outline-primary" %>
        </li>
      </ul>
    </div>
  </div>
</div>
